<!DOCTYPE html>
<html>

<head>
    <title>Stack Overflow</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" />
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <div id="logo">
                    <h1>Stack Overflow</h1>
                </div>
                <a href="recently_asked_questions.html">Recently Asked Questions</a>
                <a href="post_question.html">Post Question</a>
                <a class="active" href="answer_question.html">Answer Question</a>
                <div class="dropdown">
                    <button class="dropbtn">Wycliff Kasirye</button>
                    <div class="dropdown-content">
                        <a href="profile.html">Profile</a>
                        <a href="#">Logout</a>
                    </div>
                </div>
            </nav>


        </div>
    </header>

    <section id="content">
        <div class="container">
            <div id="row">
                <div id="question">
                    <h3>Question</h3>
                    <h4>How can I write an if statement?</h4>
                    <p>am having some trouble testing more than condition</p>
                    <hr>
                </div>
                <div>
                    <h3>Answer(1)</h3>
                    <p>The 404 code means that the server was unable to locate the files you were looking for via GET request.</p>
                    <hr>
                </div>
                </br>
                <form>
                    <label for="answer">Your Answer</label>
                    <textarea cols="5" rows="8" required></textarea>
                    <button class="submit-btn" type="submit">Post Your Question</button>
                </form>
            </div>
        </div>
    </section>


</body>

</html>