<!DOCTYPE html>
<html>

<head>
    <title>Stack Overflow</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" />
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <div id="logo">
                    <h1>Stack Overflow</h1>
                </div>
                <a href="recently_asked_questions.html">Recently Asked Questions</a>
                <a class="active" href="post_question.html">Post Question</a>
                <a  href="answer_question.html">Answer Question</a>
                <div class="dropdown">
                    <button class="dropbtn">Wycliff Kasirye</button>
                    <div class="dropdown-content">
                        <a href="profile.html">Profile</a>
                        <a href="#">Logout</a>
                    </div>
                </div>
            </nav>


        </div>
    </header>

    <section id="content">
        <div class="container">
            <div id="row">
                <form>
                    <label for="title">Title</label>
                    <input type="text" name="title" required>

                    <label for="body">Body</label>
                    <textarea cols="5" rows="8" required></textarea>
                    <button class="submit-btn" type="submit">Post Your Question</button>
                </form>
            </div>
        </div>
    </section>


</body>

</html>