<!DOCTYPE html>
<html>

<head>
    <title>Stack Overflow</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" />
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <div id="logo">
                    <h1>Stack Overflow</h1>
                </div>
                <a class="active" href="recently_asked_questions.html">Recently Asked Questions</a>
                <a href="post_question.html">Post Question</a>
                <a href="answer_question.html">Answer Question</a>
                <div class="dropdown">
                    <button class="dropbtn">Wycliff Kasirye</button>
                    <div class="dropdown-content">
                        <a href="profile.html">Profile</a>
                        <a href="#">Logout</a>
                    </div>
                </div>
            </nav>


        </div>
    </header>

    <section id="content">
        <div class="container">

                <div id="profile-info">
                    <h2>
                        <u>User Profile</u>
                    </h2>
                    <p>
                        <b>Full Name:</b> Wycliff Kasirye</p>
                    <p>
                        <b>User Name:</b> wycliffkas</p>
                    <button class="submit-btn" type="submit">Update Profile</button>
                </div>
                <div id="left-column">
                    <div class="title-column">
                        <b>Questions Asked(1)</b>
                    </div>
                    <p>Error 404?</p>
                </div>
                <div id="right-column">
                    <div class="title-column">
                        <b>Answers (1)</b>
                    </div>
                    <p>The 404 code means that the server was unable to locate the files you were looking for via GET request.</p>
                </div>

        </div>
    </section>


</body>

</html>