<!DOCTYPE html>
<html>

<head>
    <title>Stack Overflow</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" />
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <div id="logo">
                    <h1>Stack Overflow</h1>
                </div>
                <a class="active" href="recently_asked_questions.html">Recently Asked Questions</a>
                <a href="post_question.html">Post Question</a>
                <a href="answer_question.html">Answer Question</a>
                <div class="dropdown">
                    <button class="dropbtn">Wycliff Kasirye</button>
                    <div class="dropdown-content">
                        <a href="profile.html">Profile</a>
                        <a href="#">Logout</a>
                    </div>
                </div>
            </nav>


        </div>
    </header>

    <section id="content">
        <div class="container">
            <div id="row">
                <div id="question">
                    <hr>
                    <h4>How can I write an if statement?</h4>
                    am having some trouble testing more than condition
                </div>
                <div id="question">
                    <hr>
                    <h4>How do i install Git on windows?</h4>
                    Hello, i need help configuring git on windows
                </div>
                <div id="question">
                    <hr>
                    <h4>Error 404?</h4>
                    i keep getting this error what could be the problem
                    <hr>
                </div>
            </div>
        </div>
    </section>


</body>

</html>