<!DOCTYPE html>
<html>

<head>
    <title>Stack Overflow</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" />
</head>

<body>


    <section id="content">
        <div class="container">
            <div id="row">
                <div id="login-box">
                    <h2>Sign Up</h2>
                    <form>
                            <label for="username">Full Names</label>
                            <input type="text" name="fullname" placeholder="fullnames" required>
                            <label for="username">Username</label>
                            <input type="text" name="username" placeholder="Username" required>
                            <label for="password">Password</label>
                            <input type="text" name="password" placeholder="Password" required>
                            <label for="password">Confirm Password</label>
                            <input type="text" name="password" placeholder="Confirm Password" required>
                            <button class="submit-btn" type="submit">Sign In</button>
                            <button class="cancel-btn" type="submit">Cancel</button>
                        </form>
                </div>
            </div>
        </div>
    </section>


</body>

</html>